node_modules/
release/
release2/
dist/
.gradle/
*.apk
*.exe
*.zip
*.msi
*.jar
*.log
hs_err_*
pylibs/
pw-browsers/
gradle-temp/
mas-reader-app/jdk17/
mas-reader-app/jdk17.zip
mas-reader-app/gc/
mas-reader-app/android/.gradle/
mas-reader-app/android/app/build/
android/.gradle/
android/app/build/
deploy/
.vscode/
*.pyc
__pycache__/
